# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
venv/
env/
ENV/
*.env

# Builds
dist/
build/

# Editor directories
.vscode/
.idea/

# Logs
logs/
*.log

# Misc
.pnp.*
coverage/
